@alias
  w: width
  h: height
  bg: background
  ta: text-align
  ts: transition
  tsf: transform
  d: display
  lh: line-height
  fs: font-size
  fw: font-weight
  po: position

  m: margin
  ml: margin-left
  mr: margin-right
  mb: margin-bottom
  mt: margin-top

  pd: padding
  pl: padding-left
  pr: padding-right
  pb: padding-bottom
  pt: padding-top
  pdl: padding-left
  pdr: padding-right
  pdb: padding-bottom
  pdt: padding-top

  bd: border
  bdl: border-left
  bdr: border-right
  bdb: border-bottom
  bdt: border-top

  br: border-radius
