$w = 1120px

//@media
$pc = "screen and (min-width: " + $w + ")"
$pad-mobile = "screen and (max-width: " + $w + ")"
$pad = "(min-width: " + $wMobile + ") and (max-width: " + $w + ")"
$mobile = "(max-width: " + $wMobile + ")"
$pc-pad = "(min-width: " + $wMobile + ")"

$notebook = "screen and (min-width: " + $w + ") and (max-width: 1366px)"
